@font-face {
  font-family: GalaxieCopernicus-Book;
  src: url(../fonts/GalaxieCopernicus-Book.woff);
}
@font-face {
  font-family: Inter-Variable;
  src: url(../fonts/Inter-variable.woff);
}
$background-color: #f2efee;
$primary-color: #003a92;
$text-color: #3c3c3c;
$border-color: #c4c4c4;
$maroon:#8C2531;
h1,
h2,
h3,
h4{
  font-family: GalaxieCopernicus-Book;
}
a {
  color: $text-color;
  text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
body {
  background-color: $background-color;
  font-family: Inter-Variable;
  font-weight: 400;
  font-size: 14px;
  color: $text-color;
}
@mixin button-primary {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid $border-color;
  border-radius: 2px;
  
}
.top-header {
  height: 60px;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    float: right;
    li {
      display: inline-block;
      margin-left: 32px;
    }
  }
}
.bg-white-wrapper {
  margin: 0 0 340px 60px;
  height: 768px;
}
header {
  
  .header-content-wrapper{
    padding: 80px 60px;
    transition: .2s all ease;
    nav {
      ul {
        list-style: none;
        li.nav-item{
          margin-left: 60px;
          display: inline-block;
          position: relative;
          span{
            cursor: pointer;
          }
        }
        li.has-child{
          ul{
            font-family: 'GalaxieCopernicus-Book';
            position: absolute;
            left: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            z-index: 99;
            transition: .2s all ease;
            padding-top: 30px;
            a{
              font-size: 32px;;
              color: $primary-color;
              padding: 30px 0;
              display: block;
  
            }
            li:not(:last-child){
              position: relative;
              &:after{
                content: '';
                background: $border-color;
                position: absolute;
                left: 0;
                width: 80px;
                height: 1px;
              }
            }
          }
          &:hover{
            ul{
              height: auto;
              opacity: 1;
              width: 400px;
            }
          }
        }
      }
    }
  }
 
  
}
header.header-expanded{
height: 400px;
max-height: 500px;
background: #fff;
}
header.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  background: #fff;
  .header-content-wrapper{
    padding: 30px 60px;
    
  }
}
header.sticky.header-expanded{
  .header-content-wrapper{
    border-bottom: 1px solid $border-color;
  }
}
.banner {
  .banner-text-wrapper {
    padding: 0 60px 80px;

    .banner-text {
      h1 {
        color: $primary-color;
        font-size: 64px;
        line-height: 70.4px;
      }
    }
    .read-more {
      position: absolute;
      bottom: 10px;
      a {
        @include button-primary;
        
        width: 214px;
        display: flex;
        align-items: center;
        span.btn-text {
          width: 65%;
          text-align: center;
          position: relative;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:after{
            content: '';
            background: $border-color;
            position: absolute;
            height: 100%;
            width: 1px;
            top:0;
            right:0;
          }
        }
        span.btn-img{
          width: 35%;
          justify-content: center;
          align-items: center;
          height: 62px;
          display: flex;
        }
       
      }
    }
  }
  .banner-image {
    position: relative;
    img {
      height: 565px;
      position: absolute;
      top: 0;
      right: 0px;
      width: calc(100% - 60px);
    }
  }
}

.article{
    background-color: $maroon;
    height: 700px;
    padding: 80px 0;
    margin-bottom: 342px;
    margin-right: 60px;
    .article-text-container{
      margin-left: 60px;
      padding-left: 60px;
      width: 70%;
        .sub-title{
            h5{
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                font-weight: 700;
                margin-bottom: 32px;
                font-family: Inter-Variable;
            }
            
        }
        .sub-heading{
            h2{
                font-size: 44px;
                color: #fff;
                margin-bottom: 20px;
            }
            
        }
        .text{
            font-size: 18px;
            color: #fff;
            font-family: GalaxieCopernicus-Book;
            margin-bottom: 80px;
        }
    }
   
    .article-image{
        position: relative;
        img{
            height: 565px;
            position: absolute;
            top: 0;
            left: 0px;
            width: calc(100% - 60px);
        }
    }
}
.article-slider{
  background: #fff;
  padding: 80px 60px;
  h5{
    font-size: 24px;
    color: $primary-color;
    font-family: Inter-Variable;
  }
}
   